html, body {
    height: 100%;
    border: 0px solid green;
    margin: 0;
    padding: 0;
}

#container {
    border: 0px solid red;
    background-color: lightgray;
    height: 100%;
}

nav {
    position: fixed;
    bottom: 0;
    border: 1px solid black;
    background-color: gray;
    height: 2em;
    border-radius: 5px;
}

input {
    -webkit-appearance:none;
    position: relative;
    height: 100%;
    margin-right:30px;
    width: 80px;;
    border-radius: 5px;
}

input:last-of-type {
    margin-right: 0;
}

.galleryImage {
    width: 100px;
    height: auto;
    
    border: 2px solid black;
}

.selected {
    border: 2px solid green;
}

.favorite {
    border: 2px solid red;
}

#status {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
}