html, body {
    height: 100%;
    border: 0px solid green;
    margin: 0;
    padding: 0;
}

#container {
    border: 0px solid red;
    background-color: lightgray;
    height: 100%;
}

nav {
    position: fixed;
    bottom: 0;
    border: 1px solid black;
    background-color: gray;
    height: 2em;
    border-radius: 5px;
}

input {
    -webkit-appearance:none;
    position: relative;
    height: 100%;
    margin-right:30px;
    width: 80px;;
    border-radius: 5px;
}

input:last-of-type {
    margin-right: 0;
}

.gallery {
    width: 100%;
    height: 100%;
}

/* Image View style */
.tile {
    stroke: black;
    fill: lightgray;
}

.gallery .selected {
    fill: white;
    stroke: green;
    stroke-width: 5;
}

.gallery .favorite {
    fill: white;
    stroke: red;
    stroke-width: 5;
}

#status {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
}
